{% load static %}
<!-- page for a user who pressed "forgot password" and got a verification code -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Reset Password</title>
    <link rel="stylesheet" href="{% static 'allforms.css' %}">
</head>

<body>

    <div class="glass-container">

        <h1>Communication LTD</h1>

        <h2>Reset Your Password</h2>

        {% if messages %}
        <div class="messages-box">
            {% for message in messages %}
            <div class="message {{ message.tags }}">{{ message }}</div>
            {% endfor %}
        </div>
        {% endif %}

        <form method="POST" action="{% url 'reset_password' %}"> {% csrf_token %}

            <p>Enter a new password below to change your password</p>

            <div class="input-group">
                <input type="password" name="password" placeholder="New password" required>
            </div>
            <div class="input-group">
                <input type="password" name="confirm" placeholder="Re-enter new Password" required>
            </div>

            <button class="change-btn">Change Password</button>


            <div class="login-link">
                <p><a href="{% url 'login' %}">Back to Login</a></p>
            </div>

        </form>

    </div>


</body>

</html>