{% load static %}
<!-- page for a user who wants to change his password -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Change Password</title>
    <link rel="stylesheet" href="{% static 'allforms.css' %}">
</head>

<body>

    <div class="glass-container">

        <h1>Communication LTD</h1>

        <h2>Change Your Password</h2>

        {% if messages %}
        <div class="messages-box">
            {% for message in messages %}
            <div class="message {{ message.tags }}">{{ message }}</div>
            {% endfor %}
        </div>
        {% endif %}

        <form method="POST" action="{% url 'change_password' %}"> {% csrf_token %}

            <p>Enter a new password below to change your password</p>

            <div class="input-group">
                <input type="password" placeholder="Current password" name="old_password" required>
            </div>
            <div class="input-group">
                <input type="password" placeholder="New password" name="new_password" required>
            </div>
            <div class="input-group">
                <input type="password" placeholder="Re-enter new Password" name="confirm" required>
            </div>

            <button class="change-btn" type="submit">Change Password</button>

            <div class="login-link">
                <p><a href="{% url 'login' %}">Back to Login</a></p>
            </div>

        </form>
    </div>


</body>

</html>