{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Forgot Password</title>
    <link rel="stylesheet" href="{% static 'allforms.css' %}">
</head>

<body>

    <div class="glass-container">

        <h1>Communication LTD</h1>

        <h2>Reset Password</h2>

        {% if messages %}
        <div class="messages-box">
            {% for message in messages %}
            <div class="message {{ message.tags }}">{{ message }}</div>
            {% endfor %}
        </div>
        {% endif %}

        <form method="POST" action="{% url 'forgot_password' %}"> {% csrf_token %}

            <p>Enter your username and we will send you a reset code.</p>

            <div class="input-group">
                <input type="text" name="username" placeholder="username" required>
            </div>

            <button class="send-code-btn">Send Code</button>

            <div class="login-link">
                <p><a href="{% url 'login' %}">Back to Login</a></p>
            </div>

        </form>
    </div>

</body>

</html>